@use "sass:map";
@use '../../../assets/scss' as *;

.notifications-lista-container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.notifications-actions {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.notifications-list {
  display: flex;
  flex-direction: column;
  gap: 10px;


  .notification-card {
    display: flex;
    justify-content: space-between;
    background-color: map.get($cyberpunk-theme, 'white');
    border-radius: 5px;
    padding: 15px;


    .notification-info {
      flex: 1;

      .notification-title {
        font-size: 1.2rem;
        font-weight: bold;
        color: map.get($cyberpunk-theme, 'pink');
        text-transform: uppercase;
      }

      .notification-subtitle {
        font-size: 0.9rem;
        color: map.get($cyberpunk-theme, 'muted-text');
      }

      .notification-description {
        font-size: 1rem;
        color: map.get($cyberpunk-theme, 'dark-text');
      }
    }

    .actions {
      display: flex;
      grid-gap: 1rem;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
    }
  }
}
