<div class="notifications-lista-container">


  <gamidas-page-title>Notificações</gamidas-page-title>
  <gamidas-page-subtitle>Configuração de notificações.</gamidas-page-subtitle>

  <div class="notifications-actions">
    <gamidas-button color="green">Adicionar Lembrete</gamidas-button>
  </div>

  <div class="notifications-list">
    <div class="notification-card" *ngFor="let notification of notifications;">
      <div class="notification-info">
        <h3 class="notification-title">{{ notification.subject }}</h3>
        <p class="notification-subtitle">{{ notification.subject}} | {{ notification.dueDate | date: 'dd/MM/yyyy HH:mm'
          }}</p>
        <p class="notification-description">{{ notification.body }}</p>
      </div>

      <div class="actions">
        <gamidas-button color="light-gray">Editar</gamidas-button>
        <gamidas-button color="pink">Deletar</gamidas-button>
      </div>
    </div>
  </div>

  <ng-template #noNotifications>
    <p class="no-notifications">Você ainda não tem notifications. Clique no botão para adicionar um.</p>
  </ng-template>
</div>

<gamidas-modal [visible]="true">
  <p>Modal</p>
</gamidas-modal>
