<div *ngIf="!showingPage">
  <h2>Selecione um módulo</h2>
  <mat-selection-list #moduleList>
    <mat-list-option (click)="onClickModule('bills')">Contas</mat-list-option>
    <mat-list-option (click)="onClickModule('notification')">Notificações</mat-list-option>
  </mat-selection-list>
</div>

<div *ngIf="showingPage">
  <iframe class="iframe" [src]="iframeLink"></iframe>
</div>
<button mat-button color="primary" *ngIf="showingPage" class="float-button" (click)="onClickButton()">{{currentModule}}</button>
