.menu {
  padding: 1rem;

  .row {
    display: grid;
    grid-template-columns: repeat(4, 24%);
    justify-content: space-around;

    mat-card {
      width: 300px;
    }
  }
}

.iframe {
  width: 100%;
  height: 100vh;
}

.float-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

@media only screen and (max-width: 768px) {
  .menu {
    padding: 1rem;

    .row {
      display: flex;
      flex-direction: column;
      align-items: center;

      mat-card {
        margin-bottom: 2rem;
      }
    }
  }
}
