@import '../../../assets/styles/variables.scss';

.main-bills {
  .menu {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 2rem;

    .button {
      color: map-get($cyberpunk-theme, 'purple');
      background-color: transparent;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 1.25rem;
      transition: .2s;

      &:hover {
        text-shadow:
          0 0 3px map-get($cyberpunk-theme, 'green-neon'),
          0 0 5px map-get($cyberpunk-theme, 'green-neon'),
          0 0 6px map-get($cyberpunk-theme, 'green-neon');
      }

      &.active {
        text-shadow:
          0 0 1px map-get($cyberpunk-theme, 'green-neon'),
          0 0 2px map-get($cyberpunk-theme, 'green-neon'),
          0 0 3px map-get($cyberpunk-theme, 'green-neon');
        transition: .2s;

        &:hover {
          text-shadow:
            0 0 3px map-get($cyberpunk-theme, 'green-neon'),
            0 0 5px map-get($cyberpunk-theme, 'green-neon'),
            0 0 6px map-get($cyberpunk-theme, 'green-neon');
        }
      }
    }
  }
}
