@import url('https://fonts.googleapis.com/css2?family=Jersey+15&display=swap');
@import 'assets/styles/variables';

html,
body {
  background-color: $cyberpunk-black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  border: none;
  font-family: $font;
  color: $cyberpunk-yellow;
  letter-spacing: 1px;
}

.container {
  max-width: 1200px;
  padding: 3rem 1rem;
  margin: 0 auto;
}

img,
video {
  max-width: 100%;
  height: auto;
}

strong,
.strong {
  font-weight: 700;
}

button,
.button,
input[type='submit'] {
  cursor: pointer;
}
