html,
body {
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('assets/MAGGIE.jpg');
  background-color: rgba(#000000, .75);
  background-size: 25px;
  background-repeat: repeat;
}

.container {
  max-width: 1200px;
  padding: 0 1rem;
  margin: 0 auto;
  width: 100%;
}
