$lightRed: #f40006;
$darkRed: #c10005;
$black: #000000;
$darkGray: #707070;
$whjite: #ffffff;


.page-title {
  color: #fff;
}

.card-list {
  display: flex;
  align-items: center;
  column-gap: 2rem;

  .card {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    overflow: hidden;

    >* {
      padding: 1rem;
    }

    .card-header {
      background-color: #1c1c1c;
      color: #fff;
    }

    .card-body {
      background-color: #2e2e2e;
      color: #d3d3d3;
    }

    .card-footer {
      display: flex;
      justify-content: flex-end;
      background-color: #000000;
      color: #888888;

      .link {
        text-decoration: none;
        padding: 0.5rem 1.5rem;

        &.active {
          border-radius: 8px;
          background-color: #c8102e;
          color: #FFFFFF;
        }

        &.inactive {
          background-color: #5a5a5a;
          color: #7F8C8D;
          cursor: default;
        }
      }
    }
  }
}
