<div class="container">
  <h1 class="page-title">Selecione um módulo</h1>
  <div class="card-list">
    <div class="card" *ngFor="let module of modules">
      <div class="card-header">
        <h2 class="title">{{module.title}}</h2>
      </div>
      <div class="card-body">
        <span class="text">{{ module.text }}</span>
      </div>
      <div class="card-footer">
        <a class="link {{module.active ? 'active' : 'inactive' }}" href="/{{module.url}}">Acessar</a>
      </div>
    </div>
  </div>
</div>
